@import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed';

.card-container {
    text-align: center;
    margin-top: 5%;
    
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  
  .c-card {
    display: inline-block;
    border-radius: 3px;
    width: 100%;
    max-width: 350px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    background: #fff;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .c-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
  }
  .c-card__image {
    max-width: 100%;
  }
  .c-card__body {
    padding: 30px;
  }
  .c-card__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .c-card__subtitle {
    font-size: 13px;
    margin-top: 5px;
    padding: 0;
  }
  .c-card__intro {
    margin-bottom: 0;
  }
  .c-card__footer {
    padding: 20px;
    border-top: 1px solid #ddd;
  }