* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  
  html {
    width: 100%;
    background-color: #70a1ff;
  }
  
  .title-project {
    text-align: center;
    margin-top: 3%;
    color: #2f3542;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size:200%;
  }
 