.container-staff {
    margin-left: 100px; /*Marge extérieure de gauche de l'élément.*/
}

h4.title {
    font-size: 25px; /*Taille des caractères.*/
    text-decoration: underline; /*Soulignement du texte.*/
}
